*{
  margin-left: 0.4vw;
}
/* Estilos base para pantallas pequeñas (mobile-first) */
.dashboard {
  text-align: center;
  background-color: #f5f5f5;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el gráfico de barras */
.chart {
  width: 80vw;
  margin: 20px 0;
}

/* Estilos para la leyenda */
.chart .chartjs-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

/* Estilos para los elementos de la leyenda */
.chart .chartjs-legend li {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

/* Estilos para los colores de la leyenda */
.chart .chartjs-legend li::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/* Estilos para la barra de desplazamiento si es necesario */
.chart::-webkit-scrollbar {
  width: 8px;
}

.chart::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.chart::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Redefine los estilos para pantallas más pequeñas */
  .dashboard {
    padding: 3%;
  }

  h1 {
    font-size: 20px;
  }

  .chart {
    margin: 15px 0;
  }

  .chart .chartjs-legend {
    margin-top: 15px;
  }
}

/* Estilos base */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #007bff; /* Azul, puedes cambiarlo al color deseado */
}

.login-content {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  width: 90%;
}

.login-title {
  color: #007bff; /* Color azul para el título */
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #007bff; /* Botón azul */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el cursor */
}

/* Consulta de medios para pantallas más grandes (ajusta según tus necesidades) */
@media (min-width: 768px) {
  .login-content {
    max-width: 400px;
  }

  .login-title {
    font-size: 30px;
  }
}


