/* Estilos para la sección de informes */
.report-section {
    text-align: center;
    background-color: #f5f5f5;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título */
  .report-title {
    color: #007bff; /* Color azul para el título */
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para las entradas de fecha */
  .report-input-label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .report-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de generación de informe */
  .report-button {
    background-color: #007bff; /* Color azul para el botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .report-button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el cursor */
  }
  