
/* Estilos para la barra de navegación lateral */
.sidebar {
    width: 250px; /* Ancho de la barra lateral */
    height: 100%; /* Altura completa de la pantalla */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Fondo de la barra lateral */
    color: #fff; /* Color de texto de la barra lateral */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff; /* Color de enlace de la barra lateral */
    font-size: 18px;
    transition: 0.2s; /* Transición suave al pasar el cursor */
  }
  
  .sidebar a:hover {
    color: #007bff; /* Cambia el color al pasar el cursor */
  }
  
  /* Estilos para el botón de logout */
  .logout-button {
    background-color: #d9534f; /* Color de fondo del botón de logout */
    color: #fff; /* Color de texto del botón de logout */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px; /* Espacio superior del botón de logout */
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
  }
  /* Estilos base para la barra de navegación lateral */
.sidebar {
  width: 250px; /* Ancho de la barra lateral */
  height: 100%; /* Altura completa de la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* Fondo de la barra lateral */
  color: #fff; /* Color de texto de la barra lateral */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s; /* Agrega una transición suave para el efecto de deslizamiento */
}

/* Estilos para ocultar la barra lateral */
.sidebar.hidden {
  transform: translateX(-80%); /* Oculta la barra lateral fuera del área visible */
}
#side.hidde{
  transform: translateX(-100%); /* Oculta la barra lateral fuera del área visible */
}
.toggle-button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

  
  .logout-button:hover {
    background-color: #c9302c; /* Cambia el color al pasar el cursor */
  }
  
  